:root {
  --bg: #eeeeee;
  --text: #011b16;
  --primary: #6fcf97;
  --secondary: #2fa084;
  --tertiary: #1f6f5f;
}

body {
  font-family: "Stack Sans Text", sans-serif;
  background-color: var(--bg) !important;
  color: var(--text) !important;
}

/* SignupPage */

input[type="file"] {
  display: none;
}
