.task {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.task:hover {
  background-color: #fafafa;
}

.task-complete {
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

.task-not-complete {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.task-more {
  padding: 0 0 1rem 1rem;
}

.task-desc {
  padding: 0.5rem 0 0 1rem;
}

.task-editor {
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.2s ease-in-out;
}

.task-editor.active {
  opacity: 1;
  max-height: 999px;
}
